
/* Highlight style */
.highlight_e {
    background-color: yellow;
}

/* Pop-up styles */
.myPop {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(252, 252, 252);
    text-align: center;
    border: solid;
}

.close {
    position: absolute;
    top: 5rem;
    right: 10rem;
    color: #0d27d0;
    font-size: 10rem;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
